# Ignore Python caches
__pycache__/
*.pyc

# Ignore outputs
!outputs/GUI_tests/
!outputs/GUI_tests/**
*.pfs

# Ignore temporary or backup files
*.bak
*.tmp

# Ignore system files
.DS_Store
Thumbs.db


# Ignore virtual environments (if any)
.venv/
env/

# Ignore common folders not needed in Git
old_files/
files_with_4s_pyramid/
files_with_ueye_camera/
slm-cam_tests/

*.fits
*.png
*.gif
*.npy

**/*.fits
**/*.png
**/*.gif
**/*.npy
**/results.toml
